header#app-header
    a.logo(href="/")
    nav
        ul
            li
                a.empty(href="/?/hot") hot
            li
                a.empty(href="/?/new") new
            li
                a.empty(href="/?/raising") rising
            li
                a.empty(href="/?/controversial") controversial
            li
                a.empty(href="/?/top") top
            li
                a.empty(href="/?/gilded") gilded