doctype html
html
    head
        title Hello world

        link(rel='stylesheet', href='css/main.css')
    body
        .hello Hello World

        script(src="lib/requirejs/require.js", data-main="js/config.js")