doctype html
html
    head
        title Reddit Reader
        link(rel='stylesheet', href='css/main.css')
    body#app-root
        include header

        section#app-content

        script(src="lib/requirejs/require.js", data-main="js/config.js")